#mymusic-page {
  height: 100vh;
  background-color: #170f23;
  width: 100%;
  min-height: 768px;
}

#mymusic-page .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-notification {
  height: 33px;
  background-color: #9b4de0;
  text-align: center;
  color: #fff;
}

.page-notification .logo {

}

.page-notification .text {
  line-height: 33px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* page-content */
.page-content {
  flex: 1;
}

.page-content .wrapper {
  display: flex;
  height: 100%;
}
.page-content .content-left-sidebar {
  background-color: hsla(0,0%,100%,0.05);
  padding-bottom: 54px;
  flex: 0 0 235px;
  max-width: 235px;
  height: 100%;
}

.page-content .content-main {
  flex: 1;
  height: 100%;
}

.page-content .content-right-sidebar {
  flex: 0 0 326px;
  max-width: 326px;
  height: 100%;
}

.left-sidebar-wrapper {
  height: 100%;
  position: fixed;
}
.left-sidebar-wrapper .logo-navigation {
    width: 240px;
    height: 70px;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}
.left-sidebar-wrapper .site-logo {
  width: 120px;
  height: 40px;
  background: var(--img-logo-mp3) 50%/contain no-repeat;
}
.left-sidebar-wrapper .menu-navigation {
  margin-bottom: 15px;
}
.left-sidebar-wrapper .nav-item {
  border-left: 3px solid transparent;
}
.left-sidebar-wrapper .nav-item a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
}
.left-sidebar-wrapper .nav-item:hover .shuffle-play-btn {
  display: flex;
  
}
.shuffle-play-btn {
  display: none;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0!important;
  border-radius: 999px;
  position: absolute;
  right: 20px;
  align-items: center;
  justify-content: center;
}
.left-sidebar-wrapper .sidebar-divide {
  position: relative;
    height: 1px;
}
.left-sidebar-wrapper .sidebar-divide::after {
  content: "";
  border-top: 1px solid #7e7e7e;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}
.left-sidebar-wrapper .scroll-wrapper {
  position: relative;
  width: 100%;
}
.left-sidebar-wrapper .sidebar-scrollbar {
  position: absolute;
  inset: 0px;
  overflow: auto;
  margin-right: 6px;
  margin-top: 10px;
  min-height: 180px;
}
.left-sidebar-wrapper .vip-banner-sidebar {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}
.left-sidebar-wrapper .vip-banner-sidebar .text {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  border-color: #ffdb00;
  line-height: 1.67;
  color: #fff;
}
.left-sidebar-wrapper .vip-banner-sidebar .btn {
  background-color: #ffdb00;
    border-color: #ffdb00;
    color: #32323d;
    display: inline-block;
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}
.zm-navbar .main-title {
  height: 26px;
  margin: 0 28px 8px;
  color: #fff;
  font-size: 14px;
  margin-top:10px ;
}
.btn:hover {
  border: none;
  outline: none;
}
.btn-add-playlist .button{
  position: fixed;
    width: 235px;
    left: 0;
    height: 54px;
    border-top: 1px solid hsla(0,0%,100%,0.1);
    padding: 0 28px;
    border-radius: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    bottom: 0;
}
.btn-add-playlist .icon {
  font-size: 18px;
    margin-right: 10px;
    color: #fff;
}
.button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}
.zm-header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 235px;
  top: 0;
  right: 0;
  height: 70px;
  padding: 0 59px;
  z-index: 99;
  min-width: 660px;
}
.zm-header::before {
  bottom: 0;
  content: "";
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    backdrop-filter: blur(50px);
    width: calc(100% + 2px);
}
.zm-header .level-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.zm-header .level-left {
  flex-grow: 1;
  margin-right: 10px;
}
.level-wrapper .level-left, 
.level-wrapper .level-right {
  display: flex;
}
.zm-header .level-left .btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.zm-header .level-left .search {
  position: relative;
  width: 400px;
}
.search__container {
  position: relative;
  border-radius: 20px;
  height: 40px;
  background-color: hsla(0,0%,100%,0.1);
}
.search__container .input-wrapper {
  position: absolute;
  top: 0;
  left: 38px;
  right: 10px;
  bottom: 0;
}
.btn {
  background-color: transparent;
  outline: none;
}
.icon {
  font-size: 24px;
  margin-right: 15px;
  line-height: 66%;
  display: inline-block;
  color: #7d7272;
}
.search__container .input-wrapper .form-control {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.zm-header .level-right .download-desktop-app {
  margin-right: 12px;
  background-color: hsla(0,0%,100%,0.1);
  
  border-radius: 999px;
  position: relative;
}
.download-desktop-app .btn {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  font-weight: 600;
  color: #c273ed;
}
.download-desktop-app .btn .icon1 {
  margin-right: 4px;
  color: #c273ed !important;
}
a.btn:hover {
  opacity: 0.9;
}
.zm-header .level-right .setting-item {
  margin-left: 10px;
}
.zm-header .level-right .setting-item>.btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0,0%,100%,0.1);
  border-radius: 999px;
  border:none;
}
.content-main .content-main-wrapper {
  width: 100%;
}
.content-main .content-main-wrapper .wrapper-content {
  padding-left: 59px
}
.content-main .content-main-wrapper .wrapper-content .container-main {
  margin-top: 70px;
}
.content-main .content-main-wrapper .mymusic-overivew {
  padding-top: 70px;
}
.content-main .content-main-wrapper .mymusic-overivew .header {
  display: flex;
  align-items: center;
}
.content-main .content-main-wrapper .mymusic-overivew .header .text {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}
.content-main .content-main-wrapper .mymusic-overivew .header .button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: #9b4de0;
  margin-left: 14px;
}
.content-main .content-main-wrapper .channel-section {
  margin-top: 48px;
}
.content-main .content-main-wrapper .channel-section .title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-main .content-main-wrapper .channel-section .title .text {
  text-transform: uppercase;
  color: #fff;
}
.content-main .content-main-wrapper .channel-section .title .button-main {
  background-color: hsla(0,0%,100%,0.1);
  font-size: 16px;
  border-radius: 999px;
  outline: none;
  border: 0;
}
.content-main .content-main-wrapper .channel-section .title .white {
  color: #fff;

}
.content-main .content-main-wrapper .discovery-btn {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: hsla(0,0%,100%,0.5);
}
.content-main .content-main-wrapper .discovery-btn:hover {
  color: #c273ed;
}
.content-main .content-main-wrapper .discovery-btn .btn-wrapper {
  font-size: 14px;
  margin-left: 6px;
  margin-bottom: 2px;
}


.content-main .content-main-wrapper ul.list-wrapper {
  display: flex;
}
ul.list-wrapper .item {
  flex: 0 0 50%;
  overflow: hidden;
  border-radius: 5px;
  max-width: 220px;
  margin-right: 10px;
  margin-left: 10px;
}
ul.list-wrapper .item a {
  position: relative;
  display: block;
}
ul.list-wrapper li a img {
  display: block;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
ul.list-wrapper .item:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
ul.list-wrapper .item  .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
ul.list-wrapper .item a:hover .box {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
ul.list-wrapper .item  .box  .tooltip-btn {
  font-size: 20px;
}
ul.list-wrapper .item  .box  .tooltip-btn i {
  font-size: 20px;
}
ul.list-wrapper .item  .box .bgr {
  background-color: transparent;
}
ul.list-wrapper .item  .box .violet {
  color: #9b4de0;
}
ul.list-wrapper .item  .box .white {
  color: #fff;
}
ul.list-wrapper .item  .box .btn-play {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 20px;
}
.bottom-section {
  margin-top: 48px;
}
.bottom-section .navbar {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-bottom: 1px solid hsla(0,0%,100%,0.1);
  margin-bottom: 28px;
}
.bottom-section .navbar .navbar-container {
  display: flex;
  align-items: center;
  min-height: 32px;
}
.bottom-section .navbar .navbar-container .menu {
  display: flex;
  align-items: center;
}
.bottom-section .navbar .navbar-container .menu .item {
  margin-right: 40px;
  position: relative;
}
.bottom-section .navbar .navbar-container .menu .item a {
  display: block;
  padding: 15px 0px;
}
.bottom-section .navbar .navbar-container .menu .active-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  border-bottom: 2px solid #9b4de0;
}
.bottom-section .btns .item {
  font-weight: 400;
  font-size: 14px;
  padding: 4px 14px;
  border: 1px solid;
  border-radius: 999px;
}
.bottom-section .btns .item:first-child {
  margin-right: 10px;
}
.bottom-section .btns .item.active {
  background-color: #9b4de0;
  color: #fff;
}
.bottom-section .btns .item:hover {
  color: #c273ed;
}
/*  */
.bottom-section .media-header {
  display: flex;
  padding: 10px;
}
.bottom-section .media-song {
  background-color: hsla(0,0%,100%,0.15);
  border-radius: 4px;
}
.bottom-section .media-header .media-left {
  width: 50%;
}
.media-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.bottom-section .media-header .media-left .sort {
  display: flex;
}
.bottom-section .media-header .media-left .text {
  margin-left: 10px;
}
.bottom-section .media-header .text {
  font-size: 12px;
  font-weight: 500;
  color: hsla(0,0%,100%,0.5);
  text-transform: uppercase;
}
.bottom-section .media-header .media-center {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.select-item .media-header {
  padding: 10px 0px 0px 0px !important;
}
.select-item {
  display: flex;
  position: relative;
}
.select-item .song-item {
  flex-grow: 1;
}
.select-item .song-item .media-left {
  display: flex;
  height: 40px;
}
.select-item .song-item .media-left .icon-song {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color:hsla(0,0%,100%,0.5);
  margin-right: 10px;
  margin-left: 10px;
}
.select-item .song-item .media-left .thumb {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* .select-item .song-item .media-left .info {
  display: flex;
  flex-direction: column;
} */
.select-item .song-item .media-left .info span {
  color: #fff;
}
.select-item .song-item .media-left  .title-bottom {
  font-size: 11px;
}
.select-item .song-item .media-left  .title-bottom a {
  color: hsla(0,0%,100%,0.5) !important;
}
.select-item .song-item .media-center {
  align-items: center;
  display: flex;
}
.select-item .song-item .media-center .album-info span:hover {
  text-decoration: underline;
  color: #9b4de0;
  cursor: pointer;
}
.select-item .song-item .media-right .hover-item {
  opacity: 0;
}
.select-item .song-item .media-header:hover .hover-item {
  opacity: 1;
}
.select-item .song-item .media-right .level {
  display: flex;
}
.select-item .song-item .media-right .button {
  border-radius: 999px;
  padding: 7px;
  margin: 0 4px;
}
.select-item .song-item .media-right {
  display: flex;
  margin-right: 10px;
}
.select-item .song-item .media-right .level .button .fa-solid {
  font-size: 14px;
}
.select-item .song-item .media-right .button:hover {
  background-color: hsla(0,0%,100%,0.1);
}
.select-item .song-item .media-right .action-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-item .song-item .media-right .action-item .purple {
  color: #9b4de0;
}