
.page-content {
  display: flex;
  width: 100%;
  min-width: 768px;
  height: 100vh;
  background-color: #170f23;
}
.content-left-sidebar {
  position: relative;
  width: 240px;
  background-color: hsla(0,0%,100%,0.05);
  height: 100%;
  padding-bottom: 60px;
  overflow: hidden;
}
.content-main {
  flex-grow: 1;
}
.left-wrapper {
  display: flex;
  height: 100%;
}
.logo-navigation {
  display: flex;
  flex-direction: column;
}
.content-left-sidebar .main-logo {
  width: 240px;
  height: 70px;
  padding: 15px 25px 0 28px;
  text-align: center;
  display: flex;
}
.content-left-sidebar .site-logo {
  width: 120px;
  height: 40px;
  background: var(--img-logo-mp3) 50%/contain no-repeat;
  display: inline-block;
}
.content-left-sidebar .nav-main .nav-top {
  position: relative;
  margin-bottom: 15px;
}
.content-left-sidebar .nav-main .nav-top .title1 {
  padding: 8px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.content-left-sidebar .nav-main .nav-top .none-icon {
  cursor: pointer;
}
.content-left-sidebar .nav-main .nav-top .none-icon i {
  font-size: 12px;
}
.content-left-sidebar .nav-main li {
  background-color: hsla(0,0%,100%,0.1);
}
.content-left-sidebar .nav-main li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;

}
.content-left-sidebar .nav-main .item a {
  color: #fff;
}
.content-left-sidebar .nav-main li .button {
  display: flex;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0!important;
  border-radius: 999px;
  position: absolute;
  right: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.content-left-sidebar .nav-main li:hover .button {
  opacity: 1;
}
.content-left-sidebar .nav-main li.active {
  border-left: 3px solid #9b4de0;
}
.content-left-sidebar .nav-main .none-active {
  background-color: transparent;
}
.content-left-sidebar .nav-main .none-active a {
  color: #dadada !important;
}
.content-left-sidebar .nav-main .sidebar-divide {
  position: relative;
  height: 1px;
}
.content-left-sidebar .nav-main .sidebar-divide::after {
  content: "";
  border-top: 1px solid hsla(0,0%,100%,0.1);
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}
.scrollbar-wrapper {
  width: 100%;
    /* height: 88%; */
    position: relative;
    /* height: 100%; */
    height: calc(100% - 208px);
    overflow: hidden;
}
.scrollbar {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  /* margin-right: -6px; */
  margin-bottom: 0px;
}
.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.vip-banner-sidebar {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}
.vip-banner-sidebar .text {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  border-color: #ffdb00;
  line-height: 1.67;
  color: #fff;
}
.vip-banner-sidebar a {
  background-color: #ffdb00;
  border-color: #ffdb00;
  color: #32323d;
  display: inline-block;
  padding: 6px 35px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}
.add-playlist-sidebar {
  position: absolute;
  bottom: 0px;
  background-color: hsla(0,0%,100%,0.05);
  border-top: 1px solid hsla(0,0%,100%,0.1);
  height: 60px;
  padding: 0 28px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-playlist-sidebar button {
  background-color: transparent; 
  color: #fff;
}
.add-playlist-sidebar i {
  font-size: 16px;
}
.zm-header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 235px;
  top: 0;
  right: 0;
  height: 70px;
  padding: 0 59px;
  z-index: 99;
  min-width: 660px;
}
/* .zm-header::before {
  bottom: 0;
  content: "";
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    backdrop-filter: blur(50px);
    width: calc(100% + 2px);
} */
.zm-header .level-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.zm-header .level-left {
  flex-grow: 1;
  margin-right: 10px;
}
.level-wrapper .level-left, 
.level-wrapper .level-right {
  display: flex;
}
.zm-header .level-left .btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.zm-header .level-left .search {
  position: relative;
  width: 400px;
}
.search__container {
  position: relative;
  border-radius: 20px;
  height: 40px;
  background-color: hsla(0,0%,100%,0.1);
}
.search__container .input-wrapper {
  position: absolute;
  top: 0;
  left: 38px;
  right: 10px;
  bottom: 0;
}
.btn {
  background-color: transparent;
  outline: none;
}
.icon {
  font-size: 24px;
  margin-right: 15px;
  line-height: 66%;
  display: inline-block;
  color: #7d7272;
}
.search__container .input-wrapper .form-control {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.zm-header .level-right .download-desktop-app {
  margin-right: 12px;
  background-color: hsla(0,0%,100%,0.1);
  border-radius: 999px;
  position: relative;
}
.download-desktop-app .btn {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  font-weight: 600;
  color: #c273ed;
}
.download-desktop-app .btn .icon1 {
  margin-right: 4px;
  color: #c273ed !important;
}
a.btn:hover {
  opacity: 0.9;
}
.zm-header .level-right .setting-item {
  margin-left: 10px;
}
.zm-header .level-right .setting-item>.btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0,0%,100%,0.1);
  border-radius: 999px;
  border:none;
  overflow: hidden;
}
::placeholder {
  color: #dadada;
  font-size: 13px;
}
input {
  color: #fff;
}
input:focus {
  color: #fff;
}
.content-main .my-music {
  margin-top: 140px;
}
.content-main .scrollbar-content {
  position: absolute;
  overflow: hidden scroll;
  width: 100%;
  height: 100%;
  padding:0 59px;
}
.content-main .my-music .header-title {
  display: flex;
  align-items: center;
}
.content-main .my-music .header-title .text {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
}
.content-main .my-music .header-title .btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: #9b4de0;
  margin-left: 14px;
}
.content-main .my-music .header-title i {
  font-size: 20px;
  color: #fff;
}
.content-main .channel-section {
  margin-top: 48px;
}
.content-main .channel-section .child-title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.content-main .channel-section .child-title button {
  background-color: hsla(0,0%,100%,0.1);
  border-radius: 999px;
}
.content-main .channel-section .child-title .fff {
  color: #fff;
}
.content-main .channel-section .child-title a {
  color: hsla(0,0%,100%,0.5);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.content-main .channel-section .child-title a:hover {
  color: #c273ed;
}
.content-main .channel-section .child-title .hsla {
  margin-left: 5px;
  font-size: 15px;
}
.content-main .channel-section .library-wrapper {
  display: flex;
  align-items: center;
}
.content-main .channel-section .library-wrapper .library {
  display: flex;
}
.content-main .channel-section .library-wrapper .library .card {
  max-width: 210px;
  overflow: hidden;
  border-radius: 5px;
}
.content-main .channel-section .library-wrapper .library .library-item {
  margin-right: 20px;
}
.content-main .channel-section .library-wrapper .library .card img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: block;
}
.content-main .channel-section .library-wrapper .library .card:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.content-main .channel-section .library-wrapper .library .card a {
  position: relative;
}
.content-main .channel-section .library-wrapper .library .card .box {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.content-main .channel-section .library-wrapper .library .card .box button {
  background-color: transparent;
}
.content-main .channel-section .library-wrapper .library .card .box .icon20px {
  font-size: 20px;
}
.content-main .channel-section .library-wrapper .library .card .box .violet {
  color:  #9b4de0;
}
.content-main .channel-section .library-wrapper .library .card .box .big-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
}
.content-main .channel-section .library-wrapper .library .card .box .fa {
  color: #fff;
}
.content-main .channel-section .library-wrapper .library .card a:hover .box {
  opacity: 1;
}
.content-main .channel-section .library-wrapper .card-content {
  margin-top: 10px;
}
.content-main .channel-section .library-wrapper .card-content a {
  font-size: 14px;
  color: #fff;
}
.content-main .channel-section .library-wrapper .card-content a:hover {
  color:  #9b4de0;
}
.content-main .channel-section .library-wrapper .card-content .subtitle {
  font-size: 12px;
  color: hsla(0,0%,100%,0.5);
}
.content-main .bottom-section {
  margin-top: 48px;
}
.content-main .bottom-section .navbar {
  border-bottom: 1px solid hsla(0,0%,100%,0.1);
  margin-bottom: 28px;
}
.content-main .bottom-section .navbar .menu {
  display: flex;
  align-items: center;
}
.content-main .bottom-section .navbar .menu li {
  margin: 0 40px 0 0;
  position: relative;
}
.content-main .bottom-section .navbar .menu li a {
  display: block;
  padding: 15px 0;
}
.content-main .bottom-section .navbar .menu .is-active  a {
  color: #fff;
}
.content-main .bottom-section .navbar .menu .item.is-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  border-bottom: 2px solid #9b4de0;
}
.content-main .bottom-section .navbar .menu .text a {
  color: #dadada;
}
.content-main .bottom-section .navbar .menu .text:hover a {
  color: #fff;
}
.content-main .bottom-section .nav-btn {
  margin-bottom: 20px;
}
.content-main .bottom-section .nav-btn .item {
  font-weight: 400;
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 999px;
  text-transform: uppercase;
  color: #fff;
}
.content-main .bottom-section .nav-btn .item.active {
  border-color: #9b4de0;
  background-color: #9b4de0;
  color: #fff;
}
.content-main .bottom-section .nav-btn .item.hover:hover {
  color:  #c273ed;
}
.content-main .bottom-section .nav-btn .item:not(:first-child) {
  margin-left: 15px;
}
.content-main .bottom-section .library-song {
  margin-left: -10px;
}
.content-main .bottom-section .library-song .media {
  border-bottom: 1px solid hsla(0,0%,100%,0.05);
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 5px;
}
.content-main .bottom-section .library-song .media .media-left {
  flex: 0 0 50%;
  margin-right: 10px;
  align-items: center;
}
.content-main .bottom-section .library-song .media .sort-wrapper {
  display: flex;
  align-items: center;
}
.content-main .bottom-section .library-song .media .column-text {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: hsla(0,0%,100%,0.5);
}
.content-main .bottom-section .library-song .media .media-center {
  margin-left: -10px ;
  flex-grow: 1;
}
.content-main .bottom-section .select-item {
  display: flex;
  position: relative;
}
.content-main .bottom-section .select-item .check-box-wrapper {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  display: none;
  transform: translateY(-50%);
  top: 55%;
  left: 0px;
  align-items: center;
  justify-content: center;
}
.content-main .bottom-section .select-item:hover .check-box-wrapper {
  display: flex;
}
.content-main .bottom-section .select-item .check-box {
  justify-content: center;
  align-items: center;
  cursor: pointer;
   position: relative;
}
.content-main .bottom-section .select-item .check-box input {
  border-color:  hsla(0,0%,100%,0.2);
  border-radius: 3px;
  margin: 0;
  padding: 6px;
  border: 1px solid #a0a0a0;
}
.content-main .bottom-section .select-item .check-box input:checked {
  background-color: hsla(0,0%,100%,0.15);
}
/* .content-main .bottom-section .select-item .check-box input:checked::after {
  content: " ";
  border-left-color: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-color: #fff;
  height: 47%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-63%) rotate(45deg);
} */
.content-main .bottom-section .select-item .list-item {
  max-width: 100%;
  flex-grow: 1;
}
.content-main .bottom-section .select-item .list-item .media-left {
  display: flex;
}
.content-main .bottom-section .select-item .list-item .media-left .song-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: hsla(0,0%,100%,0.5);
  margin-right: 10px;
}
.content-main .bottom-section .select-item .list-item .media-left .song-icon i {
  font-size: 14px;
}
.content-main .bottom-section .select-item .list-item .media-left .song-thumb {
  display: block;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  height: 40px;
}
.content-main .bottom-section .select-item .list-item .media-left .song-thumb a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
.content-main .bottom-section .select-item .list-item .media-left .song-thumb .box {
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translateY(-50%);
  opacity: 0;
}
.content-main .bottom-section .select-item .list-item .media-left .song-thumb .box i {
  color: #605656;
}
.content-main .bottom-section .select-item .list-item .media:hover .box {
  opacity: 1;
}
.content-main .bottom-section .select-item .list-item .media-left .song-thumb a img {
  width: 100%;
}
.content-main .bottom-section .select-item .list-item .media-left .card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-main .bottom-section .select-item .list-item .media-left .card-info .title {
  font-size: 14px;
  color: #fff;
}
.content-main .bottom-section .select-item .list-item .media-left .card-info .subtitle {
  font-size: 12px;
  margin-top: 3px;
}
.content-main .bottom-section .select-item .list-item .media-left .card-info .subtitle a {
  color:  hsla(0,0%,100%,0.5);
}
.content-main .bottom-section .select-item .list-item .media-left .card-info .subtitle a:hover {
  text-decoration: underline;
  color: #9b4de0;
}
.content-main .bottom-section .select-item .list-item .media-center .album-info {
  color:  hsla(0,0%,100%,0.5);
  font-size: 12px;
}
.content-main .bottom-section .select-item .list-item .media-center .album-info span:hover {
  text-decoration: underline;
  color: #9b4de0;
}
.content-main .bottom-section .select-item .list-item .media-right .hover-items {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.content-main .bottom-section .select-item .list-item:hover .hover-items {
  display: block;
}
.content-main .bottom-section .select-item .list-item:hover .action-items {
  visibility: hidden;
}
.content-main .bottom-section .select-item:hover .song-icon {
 visibility: hidden;
}
.content-main .bottom-section .select-item .list-item:hover {
  background-color: hsla(0,0%,100%,0.15);
  border-radius: 4px;
}
.content-main .bottom-section .select-item .list-item .media-right {
  position: relative;
}
.content-main .bottom-section .select-item .list-item .media-right .level {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-main .bottom-section .select-item .list-item .media-right .level-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-main .bottom-section .select-item .list-item .media-right button {
  background-color: transparent;
  line-height: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.content-main .bottom-section .select-item .list-item .media-right .icon {
  color:  hsla(0,0%,100%,0.5);
  font-size: 14px;
}
.content-main .bottom-section .select-item .list-item .media-right .violet {
  color: #9b4de0;
}
.content-main .bottom-section .select-item .list-item .media-right button:hover {
  background-color: hsla(0,0%,100%,0.1);
}
.content-main .bottom-section .select-item .list-item .media-right i {
  margin: 0px;
}
.content-main .bottom-section .select-item .list-item .media-right .action-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-main .bottom-section .select-item .list-item .media-right .action-items .text {
  font-size: 13px;
  color:  hsla(0,0%,100%,0.5);
}