body {
  font-family: Roboto;
  height: 100vh;
  width: 100vw;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  color: #dadada;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.mar-r-10 {
  margin-right: 10px !important;
}
figure {
  margin: 0px;
  padding-left: 10px;
}